.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000!important;
  /*opacity: 0.8;*/
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link .apple-logo {
  font-size: 21px;
  line-height: 0;
}

